POSTGRES_DB=equipment_meter_reader
POSTGRES_USER=equipment_user
POSTGRES_PASSWORD=equipment_password
POSTGRES_PORT=5432
BACKEND_PORT=3333
DATABASE_URL=postgresql://equipment_user:equipment_password@localhost:5432/equipment_meter_reader?schema=public
GEMINI_API_KEY=api_key_gemini
